version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: always
    environment:
      MONGO_INITDB_DATABASE: libraryanalytics
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    build:
      context: ..
      dockerfile: deploy/Dockerfile-backend
    environment:
      - MONGODB_URI=mongodb://mongo:27017/libraryanalytics
    depends_on:
      - mongo
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ..
      dockerfile: deploy/Dockerfile-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo-data:
