spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: your_real_email@gmail.com
    password: your_16_char_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
