spring:
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: YOUR_MAILTRAP_USERNAME
    password: YOUR_MAILTRAP_PASSWORD
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
